$color-background: #10100f;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: #171715;
$color-border: #30302c;
$color-meta: #7f7e77;
$color-meta-code: #7f7e77;
$color-link: #d5f36c;
$color-text: #f1f0eb;
$color-accent-3: #7f7e77;
$color-accent-2: #f1efe9;
$color-accent-1: #d5f36c;
$color-quote: #d5f36c;
