// Fonts
$font-family-body: "DM Sans", sans-serif;
$font-family-mono: "DM Mono", monospace;
$font-family-tt: "Newsreader", serif;
$font-size: 15px;
$line-height: 1.725;
$page-width: 58rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: true;
// Colors
$colors: "dark" // white dark light classic
